body{
	background-color: #EEE
}
#header {
	background-color: #81cdc6;
	font-family: calibri, Times new roman;
	Color:white;
	padding:10px;

}

#nav{
	width: 180px;
	float: left;
	background-color: #81cdc6;
	padding: 20px;
}
#nav .selected {
	font-weight: bold;
}


